/*Micro Clearfix---------------------------------------------*/

/*Modern Browsers---------------------------------------------*/

.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/*IE6/7---------------------------------------------*/
.cf {
    *zoom:1;
}

.row {
    position: relative;
}

.row .col:first-child {
    margin-left:0;
}

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.col {
    margin-left:0%;
}



/* 1. 4 Column Grid 0px - Infinity
-----------------------------------------------------------------------------

Span 1:    25.0%
Span 2:    50.0%
Span 3:    75.0%
Span 4:    100%

----------------------------------------------------------------------------- */

@media screen and (min-width: 0px) and (max-width: 599px) {


    .row .col:first-child {
        margin-left:0;
    }

    .span_1 {
        margin-left:0;
        width: 100%;
    }

    #menu {
        padding: 30px 0px;
    }

    #menu ul {
        padding: 0px 30px !important;
    }

    .span_2 {
        margin-left:0;
        width:100%;
    }
    .span_3 {
        margin-left:0;
        width:100%;
    }
    .span_4 {
        margin-left:0;
        width:100%;
    }

    #sidebar {
        border-top: 1px solid #e0e3e5;
    }

}

@media screen and (min-width: 600px) and (max-width: 769px) {

    .row .col:first-child {
        margin-left:0;
    }

    .span_1 {
        width:100%;
    }
    .span_2 {
        width:50%;
    }
    .span_3 {
        width:100%;
    }
    .span_4 {
        margin-left:0;
        width:100%;
    }

    #menu {
        padding: 30px 0px;
    }

    #menu ul {
        padding: 0px 30px !important;
        width: 50%;
    }

    .home #main .span_1 {
        width: 50%;
    }

}

@media screen and (min-width: 770px) {

    .row .col:first-child {
        margin-left:0;
    }

    .span_1 {
        width:25.0%;
    }
    .span_2 {
        width:50.0%;
    }
    .span_3 {
        width:75.0%;
    }
    .span_4 {
        margin-left:0;
        width:100%;
    }

}

