/*Guide------------------------------------------------*/

.page-id-496 .letter {
    border-bottom: 1px solid #e0e3e5;
}

.capital { /* A, B, C... */
    padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 225%;
    width: 10%;
}

.topics { /* Apples, Bicycles, Carpooling... */
    padding: 30px;
    width: 90%;
}

.topic {
    margin: 0.5em 0em 1em;
}

.term {
    padding-right: 30px;
    font-weight: bold;
}