/*Nav Below---------------------------------------------*/

.single #nav-below {
    border-top: 1px dotted #e0e3e5;
    background: #f4f4f4;
    margin-top: 2em;
}

.single #nav-below a {
    font-size: 90%;
    padding: 30px;
    color: #7994a7;
    display: block;
}

.single #nav-below .col:first-child {
    border-right: 1px solid #e0e3e5;
}

/*Full Width Single-------------------------------------*/

#full-single #long-format {
    margin: 1em auto 1em;
}

#full-single .entry li {
    padding-left: 1em;
}

#full-single #long-format img {
    margin: 1em 0em 0em;
}

/*Related Posts------------------------------------------*/

.yarpp-related {
    margin: 2em auto 0em;
    width: 100%;
    border-top: 1px solid #e0e3e5;
    padding-top: 1em;
}

ol.related-posts {
    padding: 0px 0px 0px 0px;
    margin: auto;
    list-style-type: none;
    width: 63%;
}

.yarpp-related h3 {
    margin: 1em auto 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 175%;
    width: 63%;
    font-weight: 300;
}

ol.related-posts li {
    line-height: 1.45em;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 2em 0px;
}

ol.related-posts li img {
    margin-bottom: 1em;
    width: 100%;
    height: auto;
}

ol.related-posts li a {
    font-size: 90%;
    color: #7994a7;
}


/*Pagination---------------------------------------------*/

#nav-below .col a {
    display: block;
    padding: 30px;
    color: #7994a7;
    background: #f4f4f4;
}

#nav-below .col:first-child {
    border-right: 1px solid #e0e3e5;
}

/*Video--------------------------------------------------*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin: 1em 0em 2em;
}
.videoWrapper object,
.videoWrapper embed,  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: auto !important;
}

/*Media Queries----------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 489px) {
     #full-single .entry {
        padding: 30px;
    }

    #full-single .entry li {
        margin-left: 0em;
        padding-left: 0.5em;
    }

    .yarpp-related 
        margin: 2em auto;
        border-top: 1px solid #e0e3e5;
        padding: 2em 30px 0em;
        width: auto;
    }

    ol.related-posts li {
        padding: 0em 0em;
    }

    #nav-below .col:first-child {
        border-bottom: 1px solid #e0e3e5;
    }

    #full-single #long-format {
        margin: 0em auto 1em;
    }
}

/*-----------------------------------------------------*/

@media screen and (min-width: 490px) and (max-width: 769px) {

     #full-single .entry {
        padding: 30px;
    }

    #full-single .entry li {
        margin-left: 1em;
    }

}

/*-----------------------------------------------------*/
@media screen and (min-width: 770px) and (max-width: 1024px) {
    #full-single .entry {
        padding: 30px;
    }

    #full-single #long-format {
        width: 75%;
        padding: 0px;
    }

    #full-single .entry li {
        margin-left: 2em;
    }

    ol.related-posts {
        width: 80%;
    }

    .yarpp-related h3 {
        width: 80%;
        padding-left: 15px;
    }
}
/*-----------------------------------------------------*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    #full-single #long-format {
        width: 63%;
        padding: 0px;
    }
    #full-single .entry li {
        margin-left: 3em;
    }
}

/*-----------------------------------------------------*/

@media screen and (min-width: 1281px) {
    #full-single #long-format {
        width: 63%;
        padding: 0px;
    }

    #full-single .entry li {
        margin-left: 3em;
    }
}