/*Font Face---------------------------------------------*/

@font-face {
    font-family: 'varela';
    src: url('../_assets/fonts/varelaround-regular.eot') format('eot'),
         url('../_assets/fonts/varelaround-regular.woff') format('woff'),
         url('../_assets/fonts/varelaround-regular.ttf') format('truetype'),
         url('../_assets/fonts/varelaround-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Basic Typography---------------------------------------------*/

h1,h2,h4,h5,h6 {
    font-weight: 300;
    line-height: 1.2em;
}

h1 {
    letter-spacing: 1px;
}

h3 {
    letter-spacing: 0px;
    font-weight: normal;
    line-height: 1.2em;
    font-size: 150%;
    font-family: 'Source Sans Pro', sans-serif;
}

p, li {
    line-height: 2.25em;
    font-size: 100%;
    letter-spacing: 0.75px;
}

p {
    margin-bottom: 1.5em;
}

li {
    margin-bottom: 1em;
}

blockquote p{
    font-size: 150%;
    line-height: 1.5em;
    font-family: Georgia;
    padding: 1em 2em;
    font-style: italic;
    letter-spacing: 0px;
    border-width: 1px 0px;
    border-style: solid;
    margin: 1.5em 1em 2em;
    border-color: #e0e3e5;
}

p.withoutborders {
    border-width: 0px 0px;
    margin: 1em 1em;
}

.entry-content ul, .entry-content ol {
    margin-left: 1.25em;
}

.keyword {
    font-family: 'Source Sans Pro', sans-serif;
    width: 200px;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #e0e3e5;
    font-weight: 700;
}

/*Hyperlinks---------------------------------------------*/

a {
  text-decoration: none;
  color: #6BD1C5;
}

.home .featured-blog-image a {
    opacity: 1.0 !important;
}

.home .featured-blog-image a:hover {
    opacity: 1.0 !important;
}

a:active {
    opacity: 1.0;
}

/*Titles---------------------------------------------*/


h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 200;
    text-transform: /*capitalize*/;
}

h1 a {
    color: #7994a7;
}


h3.subhead {
    margin-top: 0.25em;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0.5em;
    line-height: 1.25em;
}

#statement {
    font-size: 225%;
    margin: 0px 0px;
}

#statement a {
    background: rgba(255,150,118,0.5);
    padding: 0px 5px;
}

.title {
   padding: 30px;
   border-bottom: 1px solid #e0e3e5;
}

.single .title {
    text-align: center;
}

.title p {
    margin-top: 10px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.home .title {
    text-align: center;
}

.entry h3 {
    padding-bottom: 0.5em;
}

/*Widgets---------------------------------------------*/

.widget h2 {
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: 11px;
}

.widget p {
    line-height: 1.5em;
    font-size: 80%;
}


/*Posts---------------------------------------------*/

.entry {
    line-height: 1.75em;
    padding: 30px;
}

.entry h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 175%;
    font-weight: 100;
    margin: 1em 0em;
}

.entry p a {
    color: #6BD1C5;
}

.entry ul {
    margin: 2em 0 2em 2em;
}

.entry-title {
    line-height: 1.2em;
}

.date {
    font-size: 80%;
    padding-top: 10px;
}

span.category {
    text-transform: capitalize;
}

.Done {
    text-decoration: line-through !important;
}

/* Grid Page Template ----------------------------------*/

.grid-item {
    border-right: 1px solid #e0e3e5;
}

.grid-item h1.entry-title {
    margin-top: 0.5em;
}

.grid-item .photo {
    padding-right: 0px;
}

.page-template-page-bucketlist-php #main {
    border-bottom-width: 0px;
}

.page-template-page-bucketlist-php #blogroll article:last-child {
    border-bottom: 1px solid #e0e3e5;
}


/*About Page-------------------------------------------*/

.underline {
    text-decoration: underline;
}

/*Design Process----------------------------------------*/

.step {
    text-align: center;
    padding: 2em 0em;
}

#step-1 {
    padding-top: 0em;
}

#step-1 img {
    padding-bottom: 1.5em;
}

.step h2 {
    margin: 0px 0px 0.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 225%;
}

.page-id-297 #design-process {
    padding: 30px 0px;
}


/*Overview-----------------------------------------------*/

.overview {
    padding: 30px 30px 0px 30px;
}

.overview h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    font-weight: 300;
    margin-bottom: 0.5em;
    line-height: 1.25em;
}

.overview p {
    line-height: 2em;
    font-size: 80%;
}

.overview a {
    color: #7994a7;
}

/*Workshops / Conferences-------------------------------*/

.workshop .excerpt {
    padding-right: 30px;
}

/*Instagrams--------------------------------------------*/

.meta p {
    font-size: 90%;
    line-height: auto;
}

.meta p.date {
    font-size: 80%;
    line-height: 1.5em;
}

.meta p a{

}

#execphp-25 h3 a {
    text-transform: capitalize;
}



/*Media Queries----------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 340px) {
    body {
        width: 100%
        overflow-x: hidden;
    }
}

/*-----------------------------------------------------*/

@media screen and (min-width: 341px) and (max-width: 489px) {


}


@media screen and (min-width: 0px) and (max-width: 489px) {

    h1 {
        font-size: 250%;
    }

    .entry-title {
        font-size: 175%;
        margin: 0.5em auto 0.25em;
    }

    .meta {
        text-align: center;
    }

    .grid-item .excerpt {
        display: none;
    }

    h3.subhead {
        font-size: 125%;
    }

    p, li {
        line-height: 2.25em;
        font-size: 80%;
    }

    .full-single .entry {
        padding: 30px;
    }

    .full-single .entry p,
    .full-single .entry h2,
    .full-single .entry ul  {
        width: 100%;
        margin: 1em auto;
    }

    .step img {
        margin-bottom: 1em;
    }

    .entry ul {
        margin: 2em 0 2em 1em;
    }

    blockquote p{
        margin: 1.5em 0em;
        padding: 1em;
        font-size: 125%;
    }

    .entry h2 {
        margin: 0.5em 0em;
    }

    #statement {
        font-size: 150%;
        line-height: 1.6em;
    }

    .title p {
        line-height: 2em;
    }

    #guidelines {
        padding: 30px 30px 0px 30px;
    }

}

/*-----------------------------------------------------*/

@media screen and (min-width: 490px) and (max-width: 769px) {
    .meta {
        text-align: center;
    }

    h1 {
        font-size: 300%;
    }

    .entry-title {
        font-size: 225%;
        margin-bottom: 0.25em;
    }

    h3.subhead {
        font-size: 125%;
    }

    blockquote p{
        margin: 1.5em 1.5em;
        padding: 1em;
        font-size: 125%;
    }


}

/*-----------------------------------------------------*/


@media screen and (min-width: 770px) and (max-width: 1023px) {

    .meta h1{
        margin: 0em 0em;
    }

    h1 {
        font-size: 300%;
    }

    .home .image .span_2 {
        width: 100%;
    }

    .entry-title {
        font-size: 225%;
        margin-bottom: 0.25em;
    }

    h3.subhead {
        font-size: 150%;
    }

    .grid-item h1.entry-title {
        font-size: 175%;
        height: 100px;
        overflow: hidden;
    }

   .grid-item p.date {
        height: 40px;
        max-height: 40px;
    }

}

@media screen and (min-width: 960px) and (max-width: 1024px) {
     .home .overview .date {
        display: none;
    }

    .home .overview p {
        margin-bottom: 0em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .entry-title {
        margin: 0.25em 0em 0.5em;
        font-size: 225%;
    }

    .grid-item p.date {
        height: 40px;
        max-height: 40px;
    }

    .product .entry-title {
        margin: 0.25em 0em 0em;
    }

    h1 {
        font-size: 300%;
    }

    h3.subhead {
        font-size: 150%;
    }

    .grid-item h1.entry-title {
        font-size: 175%;
        height: 100px;
        overflow: hidden;
    }
}

/*-----------------------------------------------------*/

@media screen and (min-width: 1281px) {

    .entry-title {
        margin: 0.25em 0em 0.5em;
        font-size: 225%;
    }

    h1 {
        font-size: 300%;
    }

    h3.subhead {
        font-size: 150%;
        line-height: 1.2em;
    }

    .grid-item h1.entry-title {
        font-size: 175%;
        height: 100px;
        overflow: hidden;
    }


}



